<main>
  <section>
    <h1>プロジェクト一覧</h1>
    <%= render 'projects/projects', projects: @projects %>
  </section>
  
  <section>
    <h1>ユーザ一覧</h1>
    <%= render 'users/users', users: @users %>
  </section>
</main>